@import "tailwindcss";

@theme {
  --color-banana-bg: #FFDAB9;
  --color-banana-dark: #3E1F0F;
  --color-banana-text: #EFA686;
  --color-banana-active: #D2B48C;
  --color-banana-error: #FF4444;

  --font-sans: var(--font-inter);
  --font-mono: var(--font-roboto-mono);
}

body {
  background-color: var(--color-banana-bg);
  color: var(--color-banana-dark);
}

